/* Fonts */
@font-face {
	font-family: 'Mulish';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('Mulish-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Mulish';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url('Mulish-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Mulish';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('Mulish-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Mulish';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('Mulish-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Mulish';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('Mulish-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Mulish';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('Mulish-Bold.ttf') format('truetype');
}