@import "Rules";

:root {
  --main-color: #467E9D;
  --main-font-color: #fff;
  --main-font: 'Roboto';
}

*{
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

h1{

  font-style: normal;
  font-weight: 700;
  font-size: 1.714rem;
  line-height: 2rem;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #000000;

}


.template{


  &_page{
    position: relative;
  }

  &__decoration{
    position: absolute;
    background: var(--main-color);
    z-index: 1;


    &_column{
      height: 100%;
      width: 38%;

      border-radius: 0px 50px 0px 0px;
    }
  }
}


.content{


  &__decoration{
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.33;
    border: 1px solid var(--main-font-color);
    margin: 12px 0;
  }


  &_main{
    display: flex;
    flex-direction: row;
  }
  &__col{

    &_left{
      display: flex;
      flex-direction: column;
      width: 38%;
      z-index: 2;
      padding: 16px;

    }

    &_right{
      display: flex;
      flex-direction: column;
      width: 62%;
      z-index: 2;
      padding: 15px 12px 15px 14px ;

      .content__header{
        color: #080E25;
      }
    }
  }


  &__wrap{
    padding: 22px;

    .content__header{
      color: #080E25;
    }

  }


  &__section{
    margin-bottom: 12px;
  }


  &__link{

    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4px;
    justify-content: flex-end;





    &__text{
      display: flex;
      flex-direction: column;
    }
    &__header{

      font-style: normal;
      font-weight: 600;
      font-size: 0.929rem;
      line-height: 1.071rem;
      letter-spacing: -0.01em;

      color: var(--main-font-color);
    }
    a{
      text-decoration: none;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      letter-spacing: -0.01em;
      color: var(--main-font-color);
    }
    P{

      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      letter-spacing: -0.01em;
      color: var(--main-font-color);

    }

    &__icon{
        margin-right: 8px;

      svg{
        width: 24px;
        height: 24px;
      }
    }



  }


  &__header{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.214rem;
    line-height: 1.214rem;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-font-color);
    margin-bottom: 8px;
  }

  &__text{

    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 0.929rem;
    letter-spacing: -0.01em;
    color: #1E1E1E;

  }


}

.header{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;

  border-bottom: 1px solid var(--main-color);


  &__image{
    display: flex;
    width: 76px;
    height: 76px;
    border: 1px solid #4EA3D2;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11);

    &__wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38%;
      height: 100%;
      padding: 26px;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11);
      border-radius: 0px 50px 0px 0px;
    }


  }




  &__position{

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.429rem;
    line-height: 1.643rem;
    letter-spacing: -0.03em;
    text-transform: capitalize;

    color: var(--main-color)

  }

  &__text{
    margin-left: 32px;
    padding: 25px 0px;
  }


}


.experience{

  &__wrap{
    display: flex;
    flex-direction: column;
  }


  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    &:last-of-type{
      margin-bottom: 0;
    }

    &__duration{
      display: flex;
      color: var(--main-color);
      font-style: italic;

    }

    &__separator{
      margin-right: 2px;
      margin-left: 2px;
    }



    &__date{
      display: flex;
    }


    &__position{

      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: #080E25;
    }

    &__company-name{

      font-style: normal;
      font-weight: 400;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: #080E25;
    }

    &__text{

      font-style: normal;
      font-weight: 400;
      font-size:0.786rem;
      line-height: 0.929rem;
      letter-spacing: -0.01em;

      color: #1E1E1E;
    }
  }
}


.skill{

  &__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;

  }

  &__item{
   display: flex;
   max-width: 228px;
   align-items: baseline;
    margin-bottom: 8px;


  }
  &__name{

    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;

    color: #080E25;
  }

  &__duration{
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 400;
    font-size: 0.857rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;

    color: var(--main-color);

  }

  &__progress-bar{
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    margin-left: 10px;

     li{
       display: block;
       width: 28.5px;
       height: 8px;
       background: #C4C4C4;;
       margin-right: 6.24px;

       &.active{
         background: var(--main-color);
       }

       &:last-of-type{
         margin-right: 0;
       }
     }
  }

}

.lang{
    &__list{
      list-style: none;

      li{
        display: flex;
        align-items: center;
      }
    }

  &__name{

    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: var(--main-font-color);
  }
  &__level{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #59FEF4;

  }

  &__separator{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: var(--main-font-color);
    margin-left: 2px;
    margin-right: 2px;
  }
}



