/* Fonts */
@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url('PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('PlayfairDisplay-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('PlayfairDisplay-Bold.ttf') format('truetype');
}