<html>
<head>
    <title>Резюме A4-5</title>
    <meta charset="utf-8">
    <link rel="icon" href="https://artandrey.github.io/jobitt-demo/page/favicon.ico">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./css/Rules.css">
    <link rel="stylesheet" href="./css/template-a4-5.css">

</head>
<body class="body-0">
<section class="template template-a4-5">
    <div class="template-wrapper">
        <div class="template_page">
            <div class="template__decoration template__decoration_column"></div>
            <div class="content content_main">
                <div class="content__col content__col_left">
                    <div class="header">
                        <div class="header__image">
                            <img src="/src/image-2.png">
                        </div>
                        <div class="header__text">
                            <h1>Slava
                                Melandovich</h1>
                            <p class="header__position">
                                React developer
                            </p>
                        </div>
                    </div>
                    <div class="  content__section content__section_link">
                        <h2 class="content__header">Personal information</h2>
                        <div class="content__link-wrap">
                            <div class="content__link content__link-email">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        Email
                                    </p>
                                    <a href="mailto:yourname@gmail.com">
                                        yourname@gmail.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-phone">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        Phone
                                    </p>
                                    <a href="tel:+972547981905" >
                                        +972547981905
                                    </a>

                                </div>


                            </div>
                            <div class="content__link content__link-skype">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        Skype
                                    </p>
                                    <a href="tel:@SlavaMelandovich" >
                                        @SlavaMelandovich
                                    </a>

                                </div>


                            </div>
                            <div class="content__link content__link-telegram">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        Telegram
                                    </p>
                                    <a href="https://t.me/@SlavaMelandovich" >
                                        @SlavaMelandovich
                                    </a>

                                </div>


                            </div>
                            <div class="content__link content__link-address">
                                <div class="content__link__text">
                                    <p class="content__link__header" >
                                        Address
                                    </p>
                                    <p class="content__link__simple-text">
                                        Israel, Tel Aviv-Yafo
                                    </p>
                                </div>


                            </div>



                            <div class="content__link content__link-linkedin ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        LinkedIn


                                    </p>
                                    <a href="https://linkedin.com" >
                                        https://linkedin.com
                                    </a>

                                </div>


                            </div>
                            <div class="content__link content__link-git ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        Github


                                    </p>
                                    <a href="https://github.com/username" >
                                        github.com/username
                                    </a>

                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site1


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site2


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site3


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site4


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site5


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site6


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site7


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>
                            <div class="content__link content__link-simple ">
                                <div class="content__link__text">
                                    <p class="content__link__header">
                                        site8


                                    </p>
                                    <a href=" www.yoursite.com" >
                                        www.yoursite.com
                                    </a>
                                </div>


                            </div>









                        </div>
                    </div>



                </div>
                <div class="content__col content__col_right">
                    <div class="content__section content__section_experience content__section_decoration">
                        <h2 class="content__header content__header_decoration">experience</h2>
                        <div class="experience__wrap">
                            <div class="experience__item">
                            <div class="experience__item__label">
                                <p class="experience__item__position">
                                    React developer
                                </p>
                                <span class="experience__item__separator">
                                    //
                                </span>
                                <p class="experience__item__company-name">
                                    ANVI
                                </p>
                            </div>
                             <p class="experience__item__text">
                                 Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                 IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                 (ANONYMOUS IT JOB SEARCH).
                                 ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                             </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="experience__item">
                                <div class="experience__item__label">
                                    <p class="experience__item__position">
                                        React developer
                                    </p>
                                    <span class="experience__item__separator">
                                    //
                                </span>
                                    <p class="experience__item__company-name">
                                        ANVI
                                    </p>
                                </div>
                                <p class="experience__item__text">
                                    Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                    IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                    (ANONYMOUS IT JOB SEARCH).
                                    ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                                </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="experience__item">
                                <div class="experience__item__label">
                                    <p class="experience__item__position">
                                        React developer
                                    </p>
                                    <span class="experience__item__separator">
                                    //
                                </span>
                                    <p class="experience__item__company-name">
                                        ANVI
                                    </p>
                                </div>
                                <p class="experience__item__text">
                                    Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                    IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                    (ANONYMOUS IT JOB SEARCH).
                                    ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                                </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__section content__section_education content__section_decoration">
                        <h2 class="content__header content__header_decoration">EDUCATION</h2>
                        <div class="experience__wrap">
                            <div class="experience__item">
                                <div class="experience__item__label">
                                    <p class="experience__item__position">
                                        Bar Ilan
                                    </p>
                                    <span class="experience__item__separator">
                                    //
                                </span>
                                    <p class="experience__item__company-name">
                                        Bachelor
                                    </p>
                                </div>
                                <p class="experience__item__text">
                                    Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                    IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                    (ANONYMOUS IT JOB SEARCH).
                                    ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                                </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="experience__item">
                                <div class="experience__item__label">
                                    <p class="experience__item__position">
                                        Bar Ilan
                                    </p>
                                    <span class="experience__item__separator">
                                    //
                                </span>
                                    <p class="experience__item__company-name">
                                        Bachelor
                                    </p>
                                </div>
                                <p class="experience__item__text">
                                    Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                    IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                    (ANONYMOUS IT JOB SEARCH).
                                    ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                                </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="experience__item">
                                <div class="experience__item__label">
                                    <p class="experience__item__position">
                                        Bar Ilan
                                    </p>
                                    <span class="experience__item__separator">
                                    //
                                </span>
                                    <p class="experience__item__company-name">
                                        Bachelor
                                    </p>
                                </div>
                                <p class="experience__item__text">
                                    Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                                    IT business, CEO-FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                                    (ANONYMOUS IT JOB SEARCH).
                                    ANVI is a leading Software Company with offices in Israel and Ukraine, providing development, marketing, analytics, and IT outsourcing/outstaffing services across the globe.

                                </p>
                                <div class="experience__item__duration">
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                    <span class="experience__item__separator"> - </span>
                                    <span class="experience__item__date">
                                         <p class="experience__item__date_mount">
                                            May
                                        </p>
                                        <p class="experience__item__date_year">
                                            1998
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="template_page">
            <div class="content content_extra">
                <div class="content__wrap">
                    <div class="content__section content__section_about content__section_decoration">
                        <h2 class="content__header content__header_decoration">
                            About me
                        </h2>
                        <p class="content__text">
                            Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                            IT business, CEO FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                            (ANONYMOUS IT JOB SEARCH).
                            ANVI is a leading Software Company with offices in Israel and Ukraine, providing
                            development, marketing, analytics, and IT outsourcing outstaffing services across the globe.
                        </p>
                    </div>
                    <div class="content__section content__section_hoby content__section_decoration">
                        <h2 class="content__header content__header_decoration">
                            hoby
                        </h2>
                        <p class="content__text">
                            Hi! I am Bratislav (Slava) Melandovich, expert & consultant with 10 years of vast experience in
                            IT business, CEO FOUNDER of ANVI (IT outsourcing and outstaffing), and JOBITT
                            (ANONYMOUS IT JOB SEARCH).
                            ANVI is a leading Software Company with offices in Israel and Ukraine, providing
                            development, marketing, analytics, and IT outsourcing outstaffing services across the globe.
                        </p>
                    </div>
                    <div class="content__section content__section_lang content__section_decoration">
                        <h2 class="content__header content__header_decoration">
                            languages
                        </h2>
                        <ul class="lang__list">
                            <li>
                                <p class="lang__name">
                                    ENGLISH
                                </p>
                                <span class="lang__separator">
                                    //
                                </span>
                                <p class="lang__level">
                                    NATIVE
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="content__section content__section_skill content__section_decoration">
                        <h2 class="content__header content__header_decoration">
                            Skills
                        </h2>
                        <div class="skill__wrap">
                            <div class="skill__item">
                                <div class="skill__label">
                                    <p class="skill__name">
                                        Node.Js
                                    </p>
                                    <p class="skill__duration">
                                        8 Years
                                    </p>
                                </div>
                                <ul class="skill__progress-bar">
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>