@import "Ruls";

:root {
  --main-color: #F6888B;
  --main-font-color: #4F4F4F;
  --main-font: 'Source Sans Pro';
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h1{

  font-style: normal;
  font-weight: 200;
  font-size: 2.714rem;
  line-height: 3.429rem;
  color: #333333;

  strong{
    font-weight: 900;
  }

}

.template {

  &_page{
    position: relative;
  }


}

.header{
  display: flex;
  padding: 16px 0px 26px 16px ;


  &__location{

    font-style: italic;
    font-weight: 600;
    font-size: 0.857rem;
    line-height: 1.071rem;
    color: #333333;
  }

  &__position{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.143rem;
    text-transform: capitalize;
    color: #333333;
  }

  &__image{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;


  }


}


.content{

  &_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 21px;
  }

  &__wrap{
    padding: 16px 22px 21px 16px;
  }

  &__col{


    &_left{
      width: 39%;
    }
    &_right{
      width: 58%;
    }
  }

  &__section{
    margin-bottom: 12px;

  }

  &__header{


    font-style: normal;
    font-weight: 700;
    font-size: 1.286rem;
    line-height: 1.643rem;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 8px;

  }

  &__text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: var(--main-font-color);
  }


  &__link{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;

    &-wrap{
      display: flex;
      flex-direction: column;
    }

    &__text{
      display: flex;
      flex-direction: column;
    }

    &__header{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 0.929rem;
      line-height: 1.071rem;
      letter-spacing: -0.01em;
      color: #222222;
    }

    a{
      text-decoration: none;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      letter-spacing: -0.01em;
      color: #222222;

    }

    &__icon{
      width: 16px;
      height: 16px;
      margin-right: 8px;

      svg{
        width: 16px;
        height: 16px;

        path{
          fill: var(--main-color);
        }
      }
    }




  }

}

.experience{

  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    &:last-of-type{
      margin-bottom: 0;
    }
    &__label{
      display: flex;
      flex-direction: row;
    }

    &__company-name{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 0.857rem;
      line-height: 1.071rem;
      color: #333333;
    }

    &__position{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1.071rem;
      color: #333333;
    }

    &__separator{
      margin-right: 3px;
      font-family: var(--main-font);
      font-style: normal;
      font-weight:700;

    }

    &__duration{
      display: flex;
      flex-direction: row;

      font-style: normal;
      font-weight: 600;
      font-size: 0.571rem;
      line-height: 0.714rem;
      color: #A9A9A9;
      margin-bottom: 6px;
    }

    &__date{
      display: flex;
    }

    &__location{
      display: flex;
      flex-direction: row;
    }
    &__text{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.714rem;
      line-height: 0.929rem;
      color: var(--main-font-color);
    }

    &__dot{
      margin-right: 1px;
      margin-left: 1px;
    }
  }

}

.skill{


  &__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  &__item{
    display: flex;
    flex-direction: row;
  }

  &__name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: #333333;
  }

  &__duration{
    display: flex;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: var(--main-font-color);

    &_year{
      margin-right: 2px;
    }
  }

  &__separator{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: #333333;
    margin-right: 3px;
  }
}

.lang{


  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    list-style: none;

    li{
      display: flex;
    }
  }

  &__name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: #333333;
  }

  &__level{

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: var(--main-font-color);

  }

  &__separator{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 0.714rem;
    line-height: 0.929rem;
    color: #333333;
    margin-right: 3px;

  }
}