@import "Ruls";

:root {
  --main-color: #5A9FA5;
  --main-font-color: #1E1E1E;
  --main-font: 'Roboto';


}

h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.214rem;
  line-height: 1.429rem;


  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--main-font-color);
}


p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.857rem;
  line-height: 1rem;
  letter-spacing: -0.01em;

  color: var(--main-font-color);

}

.template{
  &_page{
    position: relative;
    height: 100%;

    &_decoration{

      .content {
       padding-top: 43px;
      }
    }
  }

  &__decoration{
    position: absolute;
    width: 100%;
    height: 27px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &_color{
      background: var(--main-color);

    }
    &_not-variable-color{
      background: var( --main-font-color);
    }
    &_top{
      top: 0;
    }
    &_bottom{
      bottom: 0;
    }

  }
}

.header{

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  top: 16px;
  padding: 0px  16px 4px 16px;
  background: transparent;
  width: 100%;
  height: auto;


  &__image{
    border: 1px solid #223441;
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  &__text{

  }

  &__position{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.071rem;
    line-height: 1.286rem;
    /* identical to box height */

    letter-spacing: -0.03em;
    text-transform: capitalize;

    color: var(--main-color);
  }


}

.content{
  display: flex;
  justify-content: space-between;
  padding: 16px;


  &_extra {

    &__col{

      &_left{
        width: 43%;
      }
      &_right{
        width: 46%;
      }

    }
  }


  &_main{
    position: relative;
    border-bottom: 1px solid var(--main-font-color);
    z-index: 4;
  }

  &__col{

    &_left{
      width: 67%;
      margin-top: 144px;
    }
    &_right{
      width: 25%;
    }
  }

  &__section{
    margin-bottom: 12px;

    .content__header{
      margin-bottom: 8px;
    }
  }


  &__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;

    &:last-of-type{
      margin-bottom: 0px;
    }


    &-wrap{
      padding-top: 43px;
    }


    &__header{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 600;
      font-size: 0.857rem;
      line-height: 1rem;
      /* identical to box height */

      letter-spacing: -0.01em;

      color:var(--main-font-color);
    }



    &__text{

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 98px;
      margin-right: 8px;




      a{
        text-decoration: none;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 0.786rem;
        line-height: 0.929rem;
        /* identical to box height */

        letter-spacing: -0.01em;

        color: var(--main-font-color);
      }
    }
  }

  &__header{
    font-family: var(--main-font-color);
    font-style: normal;
    font-weight: 700;
    font-size: 1.214rem;
    line-height: 1.429rem;
    /* identical to box height */

    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: var(--main-font-color);

    &_decoration{
      position: relative;

      &:after{
        content: '';
        position: absolute;
        border: 9px solid transparent;
        border-left: 11px solid var(--main-color);
        left: -16px;
      }
    }
  }

}

.skill{


  &__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;

  }

  &__item{
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 0.5fr;

    align-items: center;
    width: 100%;
    margin-bottom: 11px;
  }

  &__name{

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: var(--main-font-color);
  }

  &__duration{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.857rem;
    line-height: 1rem;

    align-items: center;

    letter-spacing: -0.01em;
    text-transform: capitalize;

    color: var(--main-font-color);


  }
  &__progress-bar{

    max-width: 86px;
    background: var(--main-font-color);
    width: 86px;
    height: 2px;
    margin: 0px 20px;

    &__filler{
      display: block;
      position: relative;
      background: var(--main-font-color);
      height: 2px;
      top: 0;
      left: 0;

      &:after{
      content: '';
        top: -3px;
        right: 0;
      width: 8px;
      height: 8px;
        position: absolute;
        background: var(--main-font-color);
        border-radius: 50%;

      }
    }
  }

}
.lang{

  &__name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    margin-bottom: 2px;
    color:var(--main-font-color);
  }


  &__level{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.143rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;

    color:var(--main-font-color);

  }

  &__list{
    list-style: none;
    display: flex;

    li{
      margin-right: 40px;

      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}


.experience{


  &__wrap{
    display: flex;
    flex-direction: column;
  }



  &__item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;


    &_education{

      .experience__item__duration{
        margin-top: 3px;
      }

      .experience__item__text{
        margin-left: 0;

        &:after{
          content: none;
        }
      }

    }




    &:first-of-type{
      margin-top: 0;
    }

    &__company-name{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: var(--main-font-color);
    }

    &__grade{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: var(--main-font-color);
    }


    &__position{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: var(--main-font-color);

    }

    &__duration{
      display: flex;
      align-items: center;
      color: var(--main-color);

    }

    &__date{
      display: flex;
      align-items: center;
      color: var(--main-color);
      font-style: italic;

      &_mount{
        margin-right: 2px;
        color: var(--main-color);
        font-style: italic;
      }
      &_year{
        color: var(--main-color);
        font-style: italic;
      }
      p{
        color: var(--main-color);
        font-style: italic;
      }
    }



    &__separator{
      margin-left: 2px;
      margin-right: 2px;
      color: var(--main-color);
    }

    &__text{
      display: block;
      position: relative;
      font-family: var(--main-font);
      font-style: normal;
      color: var(--main-font-color);
      font-weight: 400;
      font-size: 0.786rem;
      line-height: 0.929rem;
      letter-spacing: -0.01em;
      margin-left: 16px;

      &:after{
        content: '';
        position: absolute;
        left: -15.19px;
        top: 1px;
        width: 10px;
        height: 10px;
        background: var(--main-color);
        border-radius: 50%;



      }





    }

  }
}



