@import "Ruls";

:root {
  --main-color: #2AAEE7;
  --main-font-color:#101214;
  --main-font:'Arial';
}

h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.714rem;
  line-height: 2rem;
  color: var(--main-font-color);
}

.square{
  position: relative;
  width: 31px;
  height: 31px;
  background: var(--main-color);

  &:first-of-type{
    transform: rotate(-90deg);
  }
  &:nth-of-type(2){
    left: 5px;
    top: -11px;

  }
}


.template {

  &_page{
    position: relative;
  }

  &__decoration{
    position: absolute;

    &_bottom{
      bottom: 0;
    }
    &__left{
      left: 0;
    }
    &_right{
      right: 0;
    }
  }

}

.header{
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 47px;
  padding-top: 14px;
  margin-bottom: 27px;

  &__image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    left: -45px;

    &-wrap{
      background: var(--main-color);
      width: 143px;
      height: 99px;
      position: absolute;
      right: 0;
    }

  }
  &__position{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.286rem;
    line-height: 2rem;
    text-transform: capitalize;

    color: var(--main-color)
  }
}


.content {

  &_main{
    display: flex;
    flex-direction: row;
  }

  &__wrap{
    display: flex;
    flex-direction: column;
    padding: 14px 41px;
  }

  &__col{

    &_left{
      width: 73%;
      padding-left: 47px;

    }
    &_right{
      padding-left: 25px;
      margin-top: 41px;

    }
  }

  &__section{
    margin-bottom: 16px;
  }

  &__header{

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.714rem;
    line-height: 1.286rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
    padding-bottom: 4px;
    margin-bottom: 6px;
    border-bottom: 0.5px solid  #73808D;


  }

  &__text{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 1.286rem;
    color: var(--main-font-color);

  }

  &__link{
    margin-bottom: 4px;


    &-wrap{
      display: flex;
      flex-direction: column;

    }

    &__header{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      color: var(--main-color);
    }
    a{

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.03em;
      text-decoration: none;
      color: #000000;
    }

    &__simple-text{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.143rem;
      letter-spacing: -0.03em;

      color: #000000;
    }
  }
}

.skill{

  &__wrap{
    display: grid;
    grid-template-columns:repeat( 2, minmax(100px, 167px));
    column-gap: 40px;
  }

  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
  }
  &__label{
    display: flex;
    flex-direction: row;
    text-decoration-line: underline;
    margin-bottom: 2px;
  }
  &__name{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 1.286rem;

    color: var(--main-font-color);
  }
  &__duration{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 1.286rem;
    color: var(--main-font-color);
    margin-left: 3px;
  }

  &__progress-bar{
    position: relative;
    width: 100%;
    height: 4px;
    background: #73808D;

    &__filler{
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      background: var(--main-color);
    }

  }
}

.lang{

  &__list{
    list-style: none;

    li{
      display: flex;
      flex-direction: row;
      margin-bottom: 6px;
      text-decoration-line: underline;
    }

  }
  &__name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 1.286rem;




    color: var(--main-font-color);

  }
  &__level{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.786rem;
    line-height: 1.286rem;




    color: var(--main-font-color);
    margin-left: 3px;
  }
}

.experience{

  &__wrap{
    display: flex;
    flex-direction: column;
  }

  &__item{
    display: flex;
    flex-direction: column;


    &__position{
      font-family: 'Arial';
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      color:var(--main-font-color)
    }
    &__company-name{
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1.286rem;
      color: var(--main-color);

    }
    &__duration{
      display: flex;
      flex-direction: row;
      align-items: center;


    }

    &__date{
      display: flex;
      flex-direction: row;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.643rem;
      line-height: 1.286rem;
      color: #73808D;
    }

    &__text{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.786rem;
      line-height: 1.286rem;
      color: var(--main-font-color);
    }

    &__location{
      display: flex;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.786rem;
      line-height: 1.286rem;
      color: #73808D;
    }

    &__city{
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: 0.786rem;
      line-height: 1.286rem;
      color: #73808D;
    }

    &__separator{
      margin-left: 3px;
      margin-right: 3px;
    }


  }


}